@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500|PT+Sans+Narrow:400,700|Play:400,700|Ubuntu+Condensed&display=swap&subset=cyrillic');

html,
body {
    height: 100%;
    background: #efefef;
    font-family: 'Oswald', sans-serif;
}